#root {
    width: 100%;
    height: 100svh;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header {
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    background-color: var(--surface-color);
    display: flex;
    align-items: center;
    color: var(--text-color);
    padding: 0.5rem 2rem;
    justify-content: space-between;
    border-bottom: 1px solid var(--line-color);
}

section {
    box-sizing: border-box;
    padding: 2rem;
    height: 100%;
    overflow-y: auto;
    background-color: var(--base-color);
    scrollbar-color: var(--line-color) var(--surface-color);
    scrollbar-gutter: stable both-edges;

    & > .item-list {
        padding: 0;
    }
}

footer {
    padding: 0.5rem 1rem 0.8rem 1rem;
    width: 100%;
    text-align: left;
    background-color: var(--surface-color);
    border-top: 1px solid var(--line-color);
}

.folder {
    padding: 0;
    display: flex;
    flex-direction: column;

    & > .dropdown {
        padding: 0.5rem 1rem;
        background-color: var(--surface-color);
        border-radius: 0.5rem;
        text-align: start;
        font-weight: 400;
        border: 1px solid var(--line-color);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .chevron {
            padding-top: 0.1rem;
            width: 1rem;
            height: 1rem;
            transition: transform 0.2s ease-out;
            fill: var(--text-color);
        }
    }

    & > .list-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: all 0.5s ease;
        position: relative;

        &::after {
            position: absolute;
            left: 0.6rem;
            top: 0.6rem;
            content: "";
            height: calc(100% - 0.8rem);
            border-left: var(--line-color) solid 1px;
        }

        & > .item-list {
            padding-top: 0;
        }
    }

    &.open > .dropdown .chevron {
        transform: rotate(90deg);
    }

    &.open > .list-wrapper {
        grid-template-rows: 1fr;

        & > .item-list {
            padding-top: 0.5rem;
        }
    }
}

.item-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: hidden;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    transition: padding-top 0.4s ease-out;
    width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 1200px;

    .link {
        list-style: none;

        &.link-text {
            a {
                font-size: 1rem;
                padding: 1rem 0.5rem;
            }
        }

        a {
            font-size: 0.9rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 0.6rem;
            color: var(--secondary-text-color);

            img.thumbnail {
                width: 248px;
                height: 140px;
                border-radius: 0.6rem;
            }
        }
    }
}

.text {
    max-width: 100%;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 600px) {
    header {
        height: 3rem;
        padding: 0.5rem 1rem;
    }

    section {
        padding: 0.5rem;
        scrollbar-gutter: initial;

        .item-list .link a img.thumbnail {
            width: 124px;
            height: 70px;
            border-radius: 0.6rem;
        }
    }

    footer {
        padding: 0.5rem 1rem 0 1rem;
    }
}
