:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    height: 100svh;
    width: 100%;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: var(--brand-color);
    text-decoration: inherit;
}

a:hover {
    color: var(--highlighted-brand-color);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    height: 100svh;
    width: 100%;
    min-width: 320px;

    --base-color: #fff;
    --surface-color: #f6f8fa;
    --line-color: #d1d9e0;
    --brand-color: #646cff;
    --highlighted-brand-color: oklch(from var(--brand-color) calc(l * 1.2) c h);
    --text-color: #1f2328;
    --secondary-text-color: #404150;

    background-color: var(--surface-color);
    color: var(--text-color);

    &[dark-mode] {
        --base-color: #272938;
        --surface-color: oklch(from var(--base-color) calc(l * 1.2) c h);
        --line-color: oklch(from var(--base-color) calc(l * 1.5) c h);
        --text-color: #f0f0f0;
        --secondary-text-color: #b0b3c0;
    }
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--text-color);
    cursor: pointer;
    background-color: var(--surface-color);
}
